* {
    margin: 0;
    padding: 0;
}

body > * {
    width: 100vw;
    display: flex;
    justify-content: center;
}

body {
    color: black;
    height: 100vh;
}

.content {
    width: 1024px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

header {
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 24px;
}

header ul {
    display: flex;
    list-style-type: none;
    gap: 16px;
    font-size: 18px;
    color: #E5E7EB;
}

#hero {
    background-color: #1F2937;
}

#hero-text {
    flex: 1;
}

#hero-text h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    padding: 10px 0;
    }

#hero-text p {
    font-size: 18px;
    color: #E5E7EB;
    padding: 10px 0;
}

#hero-text button {
    padding: 4px 16px;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 5px;
    border: none;
}

#hero img {
    background-color: gray;
    flex: 1;
}

#information h2 {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

#information .content {
    flex-direction: column;
    align-items: center;
}

#icons {
    display: flex;
    justify-content: space-around;
}

#icons div {
    border: 2px solid black;
    flex: 0;
}

#information img {
    background-color: blue;
    display: block;
}

#quote{ 
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}

#quote div{
    justify-content: center;
}

#quote figcaption {
    text-align: right;
    font-weight: bold;
}

#call-to-action {
   background-color: #3882F6;
}

footer {
    background-color: #1F2937;
    color: #E5E7EB;
    text-align: center;
}


