* {
    margin: 0;
    padding: 0;
}

body {
    color: black;
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* width: 80vw; */
    justify-content: space-between;
    /* align-items: center; */
    
}

header {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header ul {
    display: flex;
    list-style-type: none;
    gap: 16px;
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    background-color: #1F2937;
    flex: 1 1 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hero-text {
    width: 30vw;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.hero-text p {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-text button {
    padding: 4px 16px;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 5px;
    border: none;
}

.hero img {
    background-color: gray;
}

.information {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.icons {
    display: flex;
    /* text-align: center; */
    justify-content: space-around;
    
}

.icons div {
    border: 2px solid black;
    flex: 0;
}

.information img {
    background-color: blue;
    display: block;
}

.quote{
    background-color: #E5E7EB;
    flex: 1 1 auto;
}

.call-to-action {
}

footer {
    background-color: #1F2937;
    color: #E5E7EB;
    text-align: center;
}


